*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
}
nav img{
    width: 200px;
}
nav ul li{
    display: inline-block;
    margin: 0 30px;
}
nav ul li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.main{
    background: url(img/banner1.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    color: white;
    background: #61ce70;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
#menu-btn{
    font-size: 26px;
    display: none;

}

/* --------------About------------------- */
section{
    padding: 80px 15%;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    gap: 40px;
}
.about-img img{
    width: 90%;
}
.h2{
    font-size: 32px;
    color: #3f4041;
    margin-bottom: 30px;
}
.about-text p{
    color: #7a7a7a;
    margin-bottom: 30px;
}

/* -----------------Products---------------------- */
.products{
    background: #f8f9fa;
}
.products-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,auto));
    text-align: center;
    gap: 40px;
}
.products-col img{
    width: 100%;
}
.products-col .col-img{
    margin-bottom: 20px;
}

/* ---------------CTA------------------ */

.cta{
    background: url(img/banner2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
    color: white;
}
.cta h2{
    font-size: 32px;
    margin-bottom: 10px;
}
.cta h3{
    font-size: 22px;
    margin-bottom: 30px;
}

/* --------------Dish---------------*/
.dish{
    background: #f8f9fa;
}
.dish h2{
    text-align: center;
}

/* ---------Footer------------ */

footer{
    background: black;
    color: white;
    text-align: center;
    padding: 40px 15%;
}
footer h4{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
footer p{
    margin-bottom: 20px;
}
hr{
    color: white;
}
.cprt{
    margin-top: 20px;
    font-size: 14px;
}

/* --------------Responsive-------------- */

@media(max-width:1100px){
    nav{
        padding: 30px 5%;
    }
    
}
@media(max-width:790px){
    nav img{
        width: 100px;
    }
    #menu-btn{
        display: block;
        z-index: 200;
    }
    #navlist{
        position: absolute;
        right: -200px;
        top: 0;
        background: #61ce70;
        width: 150px;
        height: 100vh;
        padding-top: 100px;
        transition: .8s;
    }
    #navlist li{
        display: block;
        margin-bottom: 20px;
    }
    #navlist li a{
        color: white;
        font-size: 16px;
    }
    .cta h2{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .cta h3{
        font-size: 16px;
        margin-bottom: 30px;
    }
    .about-text{
        order: 1;
    }
}